body {
  overflow-x: hidden;
}

h1 {
  font-size: 8vw;
}

h2 {
  font-size: 5rem;
}

h1, h2 {
    font-family: 'Playfair Display', serif;
}

p, span {
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem;
}

@media (max-width: 768px){
  h1, {
    font-size: 80px;
  }
}

a.research-link {
  text-decoration: underline;
  color: #000;
}

#showcase {
  position: relative;
  background: url('../img/profile-image.jpg');
  height: 600px;
  background-repeat:no-repeat;
  background-position: center;
  background-size: 36%;
}

@media (max-width: 768px){
  #showcase {
  background-size: 70%;
  }
}

#body-home {
  background-color: #dbd5c9;
}

#body-about {
  background: #dbd5c9;
}

/* #body-about {
  background: #f2f2f2;
} */

#about {
  margin-top: 100px;
  min-height: 500px;
}

.showcase-container .showcase-row {
  height: 570px;
}

.title .label {
  font-family: 'Poppins', sans-serif;
}

.title {
  font-size: 2.2vw;
  white-space: nowrap;
}

.label {
  font-size: 12px;
  white-space: nowrap;
}

.sub-header {
  font-size: 2.2rem;
  font-family: 'Playfair Display', serif;
}

.social {
  font-family: serif;
  font-size: 20px;
}

.research-text {
  font-size: 1.7rem;
}

.research-link:hover {
  color: #dc3545;
}
