/* Master stylesheet
Project: Conservation Portfolio
Version: 2.1
Last change: 10/03/21
 */

/* General */
/* Typography */
/* Colour codes */
/* Navigation */
/* Header */
/* Content */
/* Footer */
/* Page template */
/* Media Queries */

/* ##################### */


/* General */
/* Typography */
h1 {
  font-size: 8vw;
  font-family: 'Playfair Display', serif;
}

h2 {
  font-size: 5rem;
  font-family: 'Playfair Display', serif;
}

p {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
}

span, .navbar-link {
  font-family: 'Poppins', sans-serif;
}

.footer-link {
  font-family: 'Playfair Display', serif;
  font-size: 1.2rem;
}

.title {
  font-size: 2.2vw;
  white-space: nowrap;
}

.label {
  font-size: 12px;
  white-space: nowrap;
}

.sub-header {
  font-size: 2.2rem;
  font-family: 'Playfair Display', serif;
}

.caption {
  font-family: 'Playfair Display', serif;
}

.research-text {
  font-size: 2vw;
}

/* Colour codes */
#index-body {
  background-color: #dbd5c9;
}

#work-body {
  background: #dbd5c9;
}

#work-project-list {
  margin-top: 100px;
  min-height: 500px;
}

/* Navigation */
.nounderline {
  text-decoration: none;
}
/* Header */
/* Content */
/* Index */
#index-showcase {
  position: relative;
  background: url('../img/profile-image.jpg');
  height: 600px;
  background-repeat:no-repeat;
  background-position: center;
  background-size: 36%;
}

@media (max-width: 768px){
  #index-showcase {
  background-size: 70%;
  }
}

.showcase-container .showcase-row {
  height: 570px;
}

.about-container .about-row {
  height: 570px;
}
/* Footer */
/* Page template */
/* Media Queries */
